* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #eee;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
  }

  .sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: deeppink;
    font-size: 25px;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: lime;
    background: #fff;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 0.4s;
    padding: 16px;
  }
